.bracket-matcher .region {
  position: absolute;
  box-sizing: border-box;
}

atom-text-editor.is-focused .bracket-matcher .region {
  border-bottom: 1px solid var(--syntax-cursor-color, currentColor);
}

atom-text-editor.is-focused .line-number.bracket-matcher.bracket-matcher {
  color: var(--syntax-gutter-text-color-selected);
  background-color: var(--syntax-gutter-background-color-selected);
}
